
	
	<h2> Au menu :</h2> 
	<ul>
	<li><a href="{{path('app_inscription')}}">inscription</a></li>
	<li><a href="{{path('app_ident')}}">connexion</a></li>
	<li><a href="{{path('app_accueil')}}">accueil</a></li>
	</ul>
